<!-- MEGAMENU COMPONENT -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='clientlib-megamenu'}"/>

<sly data-sly-use.pageDataService="com.aem.megamenu.exercise.core.models.MegaMenuModal">
    <!-- <Heading above MegaMenu -->
    ${pageDataService.headerMessage}
    <!-- Megamenu Container-->
    <div class="megamenu-menu-container">
        <!-- MENU Level -->
        <div class="megamenu-menu" tabindex="${index}" data-sly-list.menu="${pageDataService.map}">
            <!-- Menu Title  -->
            ${menu}
            <!-- Sub-Menu Level -->
            <div class="sub-menu-wrapper collapsed" data-sly-list.subMenuModal = "${pageDataService.map[menu]}">
                <ul>
                    <!-- Sub-Meny Entry -->
                    <li><a href="${subMenuModal.path}">${subMenuModal.name}</a></li>
                </ul>
            </div>
        </div>
    </div>
</sly>


