<!-- MEGAMENU COMPONENT -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='clientlib-megamenu'}"/>

<sly data-sly-use.pageDataService="com.aem.megamenu.exercise.core.models.MegaMenuModal">
    <!-- <Heading above MegaMenu -->
    ${pageDataService.headerMessage}
    <!-- Megamenu Container-->
    <div class="megamenu-menu-container" data-sly-list.menu="${pageDataService.map}">
        <!-- MENU Level -->
        <div class="megamenu-menu navigate" tabindex="${menuList.index}">
            <!-- Menu Title  -->
            <p href="${menu.path}">${menu.title}</p>
            <!-- Sub-Menu Level -->
            <div class="sub-menu-wrapper collapsed">
                <ul data-sly-list.subMenuModal = "${pageDataService.map[menu]}">
                    <!-- Sub-Meny Entry -->
                    <div class="navigate">
                        <li href="${subMenuModal.path}">${subMenuModal.title} </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</sly>


