.megamenu-menu-container {
  display: flex;
  .megamenu-menu {
    background-color: #f0f0f0;
    padding: 20px;

    .sub-menu-wrapper {
      transition: opacity 0.3s ease;
      &.collapsed {
        visibility: hidden;
        opacity: 0;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-right: 10px;

        a {
          text-decoration: none;
          color: #333;
        }
      }
    }
  }
}
